<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="ur10e_gripper_system" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="shoulder_pan_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">0.0</param></state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="shoulder_lift_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">-1.5708</param></state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="elbow_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">1.5708</param></state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="wrist_1_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">-1.5708</param></state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="wrist_2_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">-1.5708</param></state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="wrist_3_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">0.0</param></state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="gripper_left_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">0.0</param></state_interface>
      <state_interface name="velocity"/>
    </joint>
    
    <joint name="gripper_right_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position"><param name="initial_value">0.0</param></state_interface>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find ur10e_gripper_description)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
